{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>


{% endblock %}

{% block content %}
        <div class="header-image">
            <div class="header-text">
                <h1 class="nandi-welcome px-1">WELCOME TO <span class="fw-bold">NANDI</span> STORE</h1>
                <h4 class="mt-2">
                    <a href="{% url 'products' %}" class="fw-bold btn-sm btn btn-dark rounded-0">SHOP NOW</a>
                </h4>
            </div>
        </div>
{% endblock %}