{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">

            <h2 class="mb-4">Thank you!</h2>
            <p>Your order was success, you will receive a confirmation email to <i>{{ order.email }}</i> shortly.  </p>

        </div>
    </div>
    <!--Order summary-->
    <div class="row">
        <div class="col-12 col-lg-7">
            <a class="btn btn-dark rounded-0" href="{% url 'profile' %}">My Profile</a>
        </div>
    </div>
    <!--Back to shopping-->
    <div class="row">
        <div class="col-12 col-lg-7 btn btn-dark rounded-0">
            <a class="btn btn-dark rounded-0" href="{% url 'products' %}">Shop now!</a>
        </div>
    </div>
        </div>
    {% endblock %}
