{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">

            <h2 class="mb-4">Thank you!</h2>
            <p>Your order was success, you will receive a confirmation email to <i>{{ order.email }}</i> shortly.  </p>

        </div>
    </div>
    <div class="my-3">
    <!--View profile-->
    <a href="{% url 'profile' %}" class="btn btn-dark rounded-0">
        <span class="font-weight-bold">My Profile</span>
    </a>
    <!--Back to shopping-->
    <a href="{% url 'products' %}" class="btn btn-dark rounded-0">
        <span class="font-weight-bold">Shop now!</span>
    </a>
</div>
    {% endblock %}
