/*Product Overlay
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}
*/

/*Products Listing*/

.card-size {
   	flex: 0 0 48%;
	max-width: 90%; 
}

/*Header*/

body {
  background: url('static/media/bedroomheader.jpg') no-repeat center center fixed;
  height: 50vh;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

/*Footer*/

footer {
  padding-top: 100px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.footer-links a i {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: transparent;
  font-size: 30px;
  padding: 15px 10px;
  text-align: center;
}

.footer-links a i:hover {
    color: hsla(0, 0%, 34%, 0.712);
}