body, html {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

/*Products Listing

.card-size {
   	flex: 0 0 48%;
	max-width: 90%; 
}
*/

/*Header*/

.header-image {
background: url('/media/bedroomheader.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.header-text {
  top: 40%;
  left: 50%;
  text-align: center;
  position: absolute;
transform: translate(-50%, -50%);
}

.nandi-welcome {
    color: white;
    background-color: #212529;
}

.yellow-trim {
    display: none;
    size: 2px;
}

/*Category tags*/
.small-tag {
    font-size: 10px;
}

/*Footer*/

footer {
  color: rgb(0, 0, 0);
  text-align: center;
}

.footer-links a i {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: transparent;
  font-size: 30px;
  padding: 15px 10px;
  text-align: center;
}

.footer-links a i:hover {
    color: hsla(0, 0%, 34%, 0.712);
}