/*BASE*/

body {
  font-family: 'Lato', sans-serif;
}


/*Header*/

.page-header {
  background-image: url("/media/bedroom-header.jpg"); 
  height: 60vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/*Footer*/

footer {
  padding-top: 100px;
  padding-bottom: 20px;
  color: hsla(210, 10%, 23%, 0.6);
  text-align: center;
}

.footer-links a i {
  color: hsla(210, 10%, 23%, 0.6);
  text-decoration: none;
  background-color: transparent;
  font-size: 20px;
  padding: 0 10px;
  text-align: center;
}

.footer-links a i:hover {
    color: hsla(210, 10%, 23%, 0.712);
}