{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>


{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center py-2">
            <h2>Products</h2>
        </div>
        <div>
            <a class="link-secondary" href="{% url 'products' %}"> show all products</a> | <span
                class="fw-bold">{{products|length}}</span> product(s){% if search_term %} results for <span
                class="fw-bold">{{search_term}}"</span> {% endif %}
        </div>
    </div>
    <div class="row py-2">
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-dark btn-sm rounded-0 dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Sort by
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Price</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Rating</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Category</a></li>
                </ul>


            </div>

        </div>
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-dark rounded-0 btn-sm dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Choose a category
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=cacti">Cactus</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=succulents">Succulents</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=greenleafy">Leafy Houseplants</a>
                    </li>
                </ul>
            </div>
        </div>


    </div>

    {% for c in current_categories %}
    <div class="pt-2">
        <a class="text-decoration-none cat-badge" href="{% url 'products' %}?category={{ c.name }}" role="button"><span
                class="badge bg-dark">{{ c.friendly_name }}</span></a>

    </div>
    {% endfor %}

    <div class="row">
        <div class="col-10 product-container offset-1">
            <div class="row"></div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-60 col-md-6 col-lg-4 col-xl-3 pt-3">
                    <div class="card h-95 rounded-0">
                        {% if product.image %}
                        <a href="{% url 'product_info' product.id %}">
                            <img class="card-img-top img-fluid rounded-0" src="{{ product.image_url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_info' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">£{{ product.price }}</p>
                            {% if product.rating != 0 %}
                            <p class="card-text"><i class="fas fa-star"></i> {{product.rating}}/5</p>
                            {% else %}
                            <p class="card-text">No ratings yet</p>
                            {% endif %}
                            {% if product.category %}
                            <a class="small-tag link-secondary text-decoration-none"
                                href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag"></i> {{ product.category.friendly_name }}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}