<!--Code snippet taken from Bootstrap docs-->

<div class="toast custom-toast" role="alert" aria-live="assertive" aria-atomic="true" autohide="false">
    <div class="w-100 toast-capper bg-info"></div>
    <div class="toast-header bg-info">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="mr-auto">Alert!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{ message }}
    </div>
</div>